.menu_button {
    display: flex;
    height: 47px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 128px;
    top: 23px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
}

.language_button {
    display: flex;
    height: 47px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 28px;
    top: 23px;
    font-weight: 700;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #fff;
}
